<!-- item list -->

<md-subheader class="md-no-sticky">Items Published from DB</md-subheader>

<div class="item-list--options">
  <input type="search" ng-model="itemList.search" placeholder="Search">
  <!-- autocomplete search -->

  <select ng-model="itemList.updateOrder">
    <option value="1">Ascending</option>
    <option value="-1">Descending</option>
  </select>
</div>

<md-list class="item-list">

  <div infinite-scroll="itemList.loadMore()"
       infinite-scroll-disabled="itemList.busy"
       inifinite-scroll-distance="5">
    <md-list-item ng-repeat="item in itemList.items track by $index">
      <!--<img alt="{{ item.title }}" ng-src="{{ item.img }}" class="md-avatar"/>-->

      <a ui-sref="item({itemId: item._id})">{{ item.title }}</a>
      <!--<md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat"-->
      <!--class="md-secondary md-hue-3" ng-class="{'md-primary': person.newMessage}"></md-icon>-->
    </md-list-item>
  </div>
</md-list>


<div ng-show="itemList.busy">Loading...</div>

<md-button class="md-button" aria-label="Load More">
  <a ng-click="itemList.loadMore()">Load More</a>
</md-button>