<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="navbar.Toggler.toggleLeft()" hide-gt-lg>
      <md-icon md-svg-icon="navigation:menu"></md-icon>
    </md-button>
    <h2>
      <span translate="TITLE"></span>
    </h2>
    <span flex></span>
    <!-- accounts -->
    <md-button ui-sref="login" ng-hide="$root.currentUser" translate="ACCOUNTS.LOGIN"></md-button>
    <md-button ui-sref="register" ng-hide="$root.currentUser" translate="ACCOUNTS.REGISTER"></md-button>
    <div ng-show="$root.currentUser">{{ $root.currentUser }}</div>
    <md-button ui-sref="logout" ng-show="$root.currentUser" translate="ACCOUNTS.LOGOUT"></md-button>

    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-svg-icon="navigation:more_vert"></md-icon>
    </md-button>
  </div>
</md-toolbar>