<md-content layout="row" class="accounts">
  <span flex></span>
  <md-whiteframe layout="column" flex="60">

    <div layout="row" layout-align="space-around center" class="accounts--social">
      <md-button class="md-fab md-mini" aria-label="Login: Twitter">
        <md-icon md-svg-src="icons/ionicons/social-twitter.svg"></md-icon>
      </md-button>
      <md-button class="md-fab md-mini" aria-label="Login: Facebook">
        <md-icon md-svg-icon="icons/ionicons/social-facebook.svg"></md-icon>
      </md-button>
    </div>

    <form layout="column" class="accounts--form">
      <md-input-container md-no-float>
        <md-icon md-svg-icon="communication:email"></md-icon>
        <input type="text" ng-model="lc.credentials.email"
               placeholder="Email" aria-label="email"/>
      </md-input-container>

      <md-input-container md-no-float>
        <md-icon md-svg-icon="action:lock_open"></md-icon>
        <input type="password" ng-model="lc.credentials.password"
               placeholder="Password" aria-label="password"/>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="lc.login()"
                 aria-label="login">Sign In
      </md-button>
    </form>

    <div layout="row" layout-align="space-around center" class="accounts--redirect">
      <md-button class="md-primary md-hue-1 accounts--redirect__link">
        <a ui-sref="resetpw">Forgot password?</a>
      </md-button>
      <md-button class="md-primary md-hue-1 accounts--redirect__link">
        <a ui-sref="register">Create an account</a>
      </md-button>
    </div>
  </md-whiteframe>
  <span flex></span>
</md-content>